<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu Wireframe</title>
    <meta name="description" content="Off the Vine Menu">
  </head>
  <body>
    <nav role="navigation">
        <a href="index.html"><img class= "logo" src="../images/Logo-01.svg" alt="Off the Vine Logo"></img></a>
        <hr />
        <section class="navigation">
        <div class="menu_nav"><a href="menu.html">Menu</a></div>
        <div class="visit_nav"><a href="tastings.html">Visit</a></div>
      </section>
    </nav>

      <header class="menu-image">
        <div class="menu-image__container">
          <div class="menu-image__text">
          <h1>Menu</h1>
          </div>
        </div>
      </header>


      <main role="main">
<div class="js-tab-widget">
        <ul class="tab-list">
              <li class="tab-item">
                <a class="tab-link" href="#tab-1">Wines</a>
              </li>
              <li class="tab-item">
                <a class="tab-link" href="#tab-2">Appetizers</a>
              </li>
              <li class="tab-item">
                <a class="tab-link" href="#tab-3">Wholesale</a>
              </li>
            </ul>

<section id="tab-1" class="tab-panel wines">
      <div class="reds clearfix">
        <h2>The Reds</h2>
          <dl>
            <div class="winelist">
            <dt>Chambourcin 2013 (Estate) Limited</dt>
            <dd>Has been 9 years since we have bottled this hybrid. Best we have ever produced. Nice white pepper notes in the nose and the finish with mid black cherry undertones.
              <br>To go: $14.99<dd>
          <dt>Cabernet Franc 2013 (Grand River Valley)</dt>
            <dd>Bold cherry and raspberry flavors mingle with spicy black pepper notes and balanced amount of French Oak. This wine was aged in half new and half used French Oak for ten months.
              <br>To go: $24.99</dd>
          <dt>Cosmo (American) Super Tuscan Red Blend</dt>
            <dd>Cosmo is our family's Super Tuscan Style house red. Medium-bodied with aromas of dark chocolate and dried red fruit. Soft and silky in the mouth with tempered flavors of candied cherry. Sangiovese 75%, Merlot 25%.
              <br>To go: $19.99</dd>
              </div>
                <div class="winelist">
          <dt>Rodavi (American) Red Blend</dt>
            <dd>Intense flavors of raspberries and black currant are supported by firm tannins and toasty oak. Deeply satisfying. Merlot 50%, Cabernet Franc 50%.
              <br>To go: $19.99</dd>
          <dt>Pinot Noir 2012 Single Barrel Reserve</dt>
            <dd>Seductive aromas of spring strawberry and black tea. Notes of red licorice and tobacco leaf in the mouth. Delicate, with escalating mouth feel and texture and good tannin structure. Long finish of earth and strawberry preserves.
              <br>To go: $29.99</dd>
          <dt>CASK 1014 (Grand River Valley) Limited</dt>
            <dd>Aged in French Oak. This continual red blend of Cabernet Franc and Cabernet Sauvignon has bold, black cherry and currant flavors with a hint of black pepper notes. Nice tannin structure will allow this wine to age beautifully.
              <br>To go: $29.99</dd>
            </div>
              <div class="winelist">
          <dt>Cabernet Sauvignon 2012 (Grand River Valley) Reserve</dt>
            <dd>Aged in French Oak. Aromas and flavor of ripe black current and plum. This rich, full-bodied wine is well structured and will age nicely.
              <br>To go: $34.99</dd>
          <dt>Cabernet Sauvignon 2012 (Grand River Valley) Reserve</dt>
            <dd>Aged in French Oak. Aromas and flavor of ripe black current and plum. This rich, full-bodied wine is well structured and will age nicely.
              <br>To go: $34.99</dd>
          <dt>Naso Rosso Semi-Sweet Red</dt>
            <dd>Luscious and grapey, rich and structured at the same time. Concord + Cabernet Franc.
              <br>To go: $9.99</dd>
            </div>
          </dl>
        </div>


      <div class="whites clearfix">
        <h2> The Whites </h2>
          <dl>
            <div class="winelist">
            <dt>Josephine 2013 (Grand River Valley)</dt>
              <dd>Luscious aroma of Key Lime zest. Flavors of crushed red apple and mandarin. Lively and enjoyable acid-tartness and a round, persistent finish-with snap! Viognier 50%, Chardonnay 50%
                <br>To go: $16.99</dd>
            <dt>Pinot Grigio 2012 (Grand River Valley)</dt>
              <dd>Vibrant acidity on the front of the palate opens up to creamy grapefruit and tropical pineapple flavors. A touch of sweetness carries the fruit flavors to every corner of your mouth.
                <br>To go: $16.99</dd>
              </div>
                <div class="winelist">
            <dt>Riesling Off-Dry 2013 (Grand River Valley)</dt>
              <dd>Snappy crisp aromas of green apple and juicy pear. Soft flavors of white peach and zesty lemon-lime with a firm acid backbone. A long finish with only the slightest hint of sweetness.
                <br>To go: $16.99</dd>
            <dt>Illuminata 2013 (Grand River Valley)</dt>
              <dd>Off-dry with aromas of white peach, white nectarine and roses. Flavors of lemon-lime and green apple with a nice acidity. Long finish with a slight hint of sweetness. 35% Riesling, 35% Gewürztraminer, 30% Muscat Blanc
                <br>To go: $16.99</dd>
                </div>
                <div class="winelist">
            <dt>Connie's Blush Semi-Sweet Rosé</dt>
              <dd>Flavors of ripe summertime strawberry and juicy candied cherry. Pink Catawba + Vidal
                <br>To go: $9.99</dd>
            <dt>Naso Bianco Semi-Sweet White</dt>
              <dd>A floral and slightly honeyed nose. Flavors of lemonade and ripe apple. Vidal + Niagara + Riesling
                <br>To go: $9.99</dd>
              </div>
          </dl>
        </div>



        <div class="dessert clearfix">
          <h2>Dessert Wines</h2>
          <dl>
            <div class="dessertwinelist">
            <dt>Sweet Genevieve Ice Wine (Vidal) GRV Awarded Double Gold Medal</dt>
              <dd>Richly textured, with exotic pineapple, mango and Meyer lemon flavors.
                <br>To go: $34.99</dd>
              </div>
              <div class="dessertwinelist">
            <dt>Simply Mad Habanero Ice Wine</dt>
              <dd>Made from our Vidal Ice Wine and infused with Habanero peppers…just enough to finish with a KICK!
                <br>To go: $34.99</dd>
              </div>
          </dl>
        </div>
      <div class="tastings clearfix">
        <h2>Wine Tastings</h2>
          <dl>
            <div class="winelist">
            <dt>Best of the Grand River Valley</dt>
            <dd>Four of our region's best.
              <br>$6.00<dd>
          <dt>Let's Mingle</dt>
            <dd>Popular Laurello blends.
              <br>$5.00</dd>
          <dt>Blondes Have More Fun</dt>
            <dd>White wine flight.
              <br>$5.00</dd>
          <dt>Give Me Some Sugar</dt>
            <dd>Fun, flirty and fruity
              <br>$3.75</dd>
            </div>
              <div class="winelist">
          <dt>Express Yourself</dt>
            <dd>Choose your own flight of 4 standard wine samples - Upcharge for Ice Wine, CASK and Cab Sauv.
              <br>$5.00</dd>
          <dt>The Chocolate Cellar</dt>
            <dd>4 dry reds served with sea-salted dark chocolate - Upcharge for Cask and Cab Sauv.
              <br>$6.00</dd>
          <dt>Individual Wine Sample</dt>
            <dd>1 oz.
              <br>$1.25</dd>
            </div>
              <div class="winelist">
          <dt>Sweet Genevieve</dt>
            <dd>Our award-winning Ice Wine.
              <br>$3.50</dd>
          <dt>Simply Mad</dt>
            <dd>Our unique Habanero Ice Wine with a kick.
              <br>$3.50</dd>
          <dt>Cask 1014 and Cabernet Sauvignon 2012</dt>
            <dd>Limited Reds.
              <br>$2.00</dd>
            </div>
          </dl>
          </div>
        </div>

      </section>

      <section id="tab-2" class="tab-panel food clearfix">
      <div class="reds">
            <h2>Cheese Plates</h2>
              <dl>
                </div>
                <div class="winelist">
                <dt>Cheese Board</dt>
                <dd>Select cheeses, house-made cranberry-feta spread, fig preserves, Laurello's candied walnuts and crackers.
                  <br>$12.25<dd>
              <dt>Antipasto Board</dt>
                <dd>Select cheeses, roasted red peppers, Kalamata and Greek olives, Margherita pepperoni and crackers.
                  <br>$12.25</dd>
              <dt>Brie Cheese Plate</dt>
                <dd>Brie, with caramelized butter and brown sugar, topped with nuts and served with crackers.
                  <br>$10.25</dd>
                  </div>
                  <div class="winelist">
              <dt>Tomato Caprese Board</dt>
                <dd>Sliced tomatoes, fresh mozzarella, drizzled with basil pesto, olive oil, balsamic glaze and served with crispy crostini.
                  <br>$9.25</dd>
              <dt>Bread Tray</dt>
                <dd>Warm, crusty bread loaves with a dipping plate of olive oil, balsamic glaze and grated parmesan cheese.
                  <br>$7.50</dd>
              <dt>Artichoke Dip</dt>
                <dd>Homemade warm dip served with tortilla chips.
                  <br>$8.25</dd>
                </div>
                  <div class="winelist">
              <dt>Lucy's Eggplant Caponata</dt>
                <dd>(Seasonal) Authentic Italian recipe with eggplant, onions, green olives, celery, capers, golden raisins in a zesty tomato sauce served with crostini.
                  <br>$8.95</dd>
              <dt>Special Flatbread Appetizer</dt>
                <dd>Oven-fired flatbread with gourmet toppings selected weekly.
                  <br>$9.95</dd>
                </div>
              </dl>
          </div>
        </section>

          <section id="tab-3" class="tab-panel wholesale">
          <div class="wholesale clearfix">
                <h2>Buy in Bulk</h2>
                <p class="intro"> Interested in carrying Off the Vine wines in your restaurant, grocery, or wine specialty store? Contact us by completing the form below and our director of sales will contact you regarding your inquiry.</p>
                <p class="intro"> Send us an email at <a href="mailto:orders@offthevine.com">orders@offthevine.com</a> and please include the following information:</p>
                  <dl>
                    <center><dt>Contact Name<br />
                      Email<br />
                      Phone Number<br />
                      Address, City, State, Zip</dt></center>
                  </dl>
                  <h2>Shipping Information</h2>
                  <dl>
                    <div class="wholesalelist1">
                    <dt>Please Note</dt>
                      <dd>Due to the heat during the Summer months, we will no longer be shipping orders on Fridays. All orders that would have shipped on Fridays will ship the following Monday. We are doing this to keep orders from sitting in warehouses and/or delivery vehicles without climate control over the weekend. If you have questions about which shipping method to use, please contact us at customerservice@offthevinevinyards.com or call us at: 330-672-3031.</dd>
                    <dt>States We Ship To</dt>
                      <dd>Off the Vine is licensed to ship wine to the following states<br />
                      Alaska, California, Colorado, District of Columbia, Florida, Georgia, Hawaii, Idaho, Illinois, Iowa, Kansas, Maryland, Massachusetts, Michigan, Minnesota, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Mexico, New York, North Carolina, Ohio, Oregon, South Carolina, Tennessee, Texas, Vermont, Virginia, Washington, Wisconsin, and Wyoming.</dd>
                    <dt>Shipping Methods and Costs</dt>
                      <dd>Shipping charges are calculated when you check out. Shipping total includes product-handling costs. Shipping carrier is determined by the warehouse based upon shipping destination (unless you are a wine club member and have made other arrangements for your club shipments).
                      <br />Orders placed by 5:00 PM Pacific Time will ship the next business day, pending compliance and credit card verification. Express shipping is not available for Saturday or Sunday deliveries.  Off the Vine does not ship on major holidays or weekends. Additionally, in cases of extreme weather conditions (i.e., heat and/or cold), the  Off the Vine reserves the right to delay the release of shipments to ensure the highest quality of products at the time of arrival.</dd>
                    <dt>Delivery Information</dt>
                    <dd>Standard delivery will arrive within 7 to 10 days, following compliance and credit card authorization. Delivery occurs Monday through Friday, excluding holidays. State laws prohibit our shipping wine to hotels, motels or licensed beverage facilities outside of Ohio.</dd>
                    <dd>Unfortunately, we cannot ship alcohol to PO Boxes or APO/FPO addresses</dd>
                    <dd>If you have any questions about your order, please email us at: customerservice@offthevine.com or call us at: 888.766.6328.</dd>
                    </div>
                    <div class="wholesalelist2">
                    <dt>Delivery Requirements</dt>
                    <dd>All wine shipments require a signature for receipt. Signatures must be obtained from individuals over the age of 21 years.</dd>
                    <dt>Tracking your Shipment</dt>
                    <dd>Where online tracking is available, the tracking link is included in your "Shipment Confirmation" e-mail. If you think your order is late, please note that: Compliance verification and credit card authorization must be received prior to processing. Tracking may take up to two business days to appear in our system due to delays in receiving information from carriers.</dd>
                    <dt>Out of Stock Items and Substitutions</dt>
                    <dd>While we continually monitor inventory to ensure our website's accuracy, there are occasions when certain vintages sell out or simply are no longer available. When that occurs, our Wine Specialists will replace the wine with a comparable vintage or varietals. Please call customer service at 888.766.6328 for assistance.</dd>
                    <dt>Bottle Limits and Availability</dt>
                    <dd>In some instances, state laws regulate product availability and/or wine purchase limitations. Working within state and local laws may prevent our ability to fulfill your order requests.</dd>
                    <dt>Credit Card Refunds</dt>
                    <dd>Upon receiving your returned shipment, we will process a refund to the credit card used at time of purchase. Please allow 1-2 billing cycles for the refund to appear on your statement. Canceled and/or returned orders are subject to a 25% restocking fee.</dd>
                  </div>
                  </dl>

              </div>
            </section>
          </div>
      </main>

      <footer role="contentinfo">
        <img src="../images/Logo-02-01.svg" alt=" "></img>
        <dl>
        <div class="contact">
         <dt><strong>Off the Vine</strong></dt>
            <dd>1050 Riverside Road<br>Geneva, OH 44205</dd>
        </div>
        <div class="contact">
          <dt><a href="mailto:info@offthevinevinyards.com">info@offthevinevinyards.com</a></dt>
            <dd>800-672-3031<br>local: 330-672-3031</dd>
        </div>
      </footer>


<link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->

<script src="templates.js"></script>
  </body>
</html>
