<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visit</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
    <nav role="navigation">
        <a href="index.html"><img class= "logo" src="../images/Logo-01.svg" alt="Off the Vine Logo"></img></a>
        <hr />
        <section class="navigation">
        <div class="menu_nav"><a href="menu.html">Menu</a></div>
        <div class="visit_nav"><a href="tastings.html">Visit</a></div>
      </section>
    </nav>

    <section class="visit-image">
      <div class="visit-image__container">
        <div class="visit-image__text">
        <h1>Visit</h1>
        </div>
      </div>
    </section>

      <main role="main">
        <div class="js-tab-widget">
                <ul class="tab-list">
                      <li class="tab-item">
                        <a class="tab-link" href="#tab-1">Tastings</a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#tab-3">Calendar</a>
                      </li>
                      <li class="tab-item">
                        <a class="tab-link" href="#tab-2">Location</a>
                      </li>
                    </ul>

        <section id="tab-1" class="tastings clearfix">
          <div class="reds clearfix">
          <h2> Walk-in Tastings</h2>
          <p class="intro">We offer three different settings for our walk-in tastings. Sample our famous Geneva Ohio wines and selected hand-crafted, winery-only Spotlight wines.</p>
          <p class="intro"> Offered year round. Tasting Rooms open daily from 10:00 a.m. to 5:00 p.m., with last pour at 4:45 p.m.Reservations are required for parties of 8 or more.  Please call 330-672-3031 for more information.</p>
          <dl>
            <div class="room">
            <dt><b>Kalon Tasting Room</b></dt>
              <dd> Visit the To Kalon Tasting Room for Reserve wines and personal service in a luxurious, intimate setting. Our Spotlight Wine Club members enjoy exclusive access to limited-release wines in their private tasting room, the Spotlight Wine Club Lounge. Sample four of our award-winning Reserve wines.
              </br>$45 per person.</dd>
            </div>
              <div class="room">
            <dt><b> Vineyard Room </b></dt>
              <dd>Sample selected Classic and Spotlight wines, or enjoy wines by the glass.
              </br> Prices and Duration Vary </dd>
            </div>
            <div class="room">
              <dt><b>Spotlight Wine Club Lounge</b> </dt>
                <dd>Our Spotlight Wine Club members enjoy exclusive access to limited-release wins in their private tasting room, the Spotlight Wine Club Lounge."
                </br>Complimentary tasting for wine club members and up to three guests. $20 for each additional guest.</dd>
              </div>
          </dl>
        </div>

        <section class="signature">
          <h2>Signature Tour and Tasting</h2>
            <p class="intro">A 90-minute experience featuring a walk through our vineyards and cellars, concluding with a sit-down guided wine tasting.This in-depth winery tour follows the path of the grape from the vineyard to the cellar to the finished wine. Guests walk into the On the Vine, visit the winemaking cellars (including fermentation and barrel aging) and receive a seated educational tasting of three wines with one of our wine education specialists. Advanced reservations are recommended.</p>
            <dl>
              <dt>Signature Tour</dt>
                <dd>Offered year round, with increased frequency due to seasonality. This tour lasts for 90 minutes and costs $35/Person. Limited to 15 guests. Advanced reservations are recommended. Due to the nature of this tour, children under 13 years of age are not permitted. </dd>
            </dl>

        </section>
      </div>
      </main>
      <section class="logo2">
      <img src="../images/Logo-02-01.svg" alt=" "></img>
      </section>
            <footer role="contentinfo">

              <dl>
              <div class="contact">
               <dt><strong>Off the Vine</strong></dt>
                  <dd>1050 Riverside Road<br>Geneva, OH 44205</dd>
              </div>
              <div class="contact">
                <dt><a href="mailto:info@offthevine.com">info@offthevine.com</a></dt>
                  <dd>800-672-3031<br>local: 330-672-3031</dd>
              </div>
            </footer>






      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
<script src="templates.js"></script>
  </body>
</html>
