body {
  max-width: 1000px;
  padding: 1em;
  font-family: Helvetica, Arial, sans-serif;
  margin: auto; */
}

div, nav, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}
/*
h1{
  font-family: Bitter;
  font-size: 4em;
  font-weight: bold;
  color: white;
  background-color: rgba(122,65,82,.75);
  padding: 80px 50px 40px 40px;
  max-width: 500px;
}


h2{
  font-family: Bitter;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
  padding-bottom: 10px;
  border-style:none none solid none;

}
*?
